body{
    background:#f5f5f5;
}
.media_content {
    width:1385px;
    /*padding: 180px 280px 120px 257px;*/
    background: #f5f5f5;
    margin:0 auto;
    margin-top:180px;
    margin-bottom:120px;
}

.media_content .media_name {
    width:1340px;
    height: 260px;
    background: #ffffff;
    position: relative;
    margin-left: 23px;
}

.media_content .media_name img {
    display: block;
    background: #ffffff;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    top: -60px;
    left: 0;
    right: 0;
    margin: 0 auto;
    box-shadow: 1px 1px 10px #888888;
}

.media_content .media_name i {
    display: block;
    font-style: normal;
    font-size: 24px;
    color: #333333;
    text-align: center;
    padding: 90px 0 20px 0;
}

.media_content .media_name span {
    display: block;
    width: 120px;
    height: 40px;
    margin: 0 auto;
    background: #ffcc00;
    text-align: center;
    line-height: 40px;
    font-style: normal;
    font-size: 14px;
    color: #333333;
    border-radius: 3px;
    letter-spacing: 2px;
}

.media_content .media_name a {
    display: block;
    position: absolute;
    top: 16px;
    right: 16px;
    font-style: normal;
    font-size: 14px;
    color: #333333;
}

.media_content .media_nav {
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 162px;
    margin: 0 auto;
    margin-top: 45px;
}

.media_content .media_nav li {
    position: relative;
    font-size: 16px;
    color: #999999;
}

.media_content .media_nav li em {
    font-style: normal;
}

.media_content .media_nav li .main_line {
    position: absolute;
    width: 100%;
    height: 2px;
    background: #ffbc02;
    left: 0;
    top: 32px;
}

.media_content .vedio_tatol {
    padding: 20px 0 5px 0;
    font-style: normal;
    font-size: 14px;
    color: #999999;
    margin-left: 23px;
}

.media_con {
    /*margin-top: 20px;*/
    overflow: hidden;
}

.media_con li ul {
    overflow: hidden;
}

.media_con .lit_con {
    width: 320px;
    height: 260px;
    background: #ffffff;
    float: left;
    margin-left: 21px;
    margin-top: 20px;
    border-radius: 10px;
}

.media_con .lit_con img {
    display: block;
    width: 320px;
    height: 180px;
}

.media_con .lit_con a img {
    display: block;
}

.media_con .lit_con .a_hover img:hover {
    opacity: 0.7;
}

.media_con .lit_con a span {
    display: block;
    padding: 0 24px;
    font-style: normal;
    font-size: 16px;
    color: #333333;
    margin-top: 20px;
}

.media_con .lit_con a span:hover {
    color: #ffca02;
}

.media_con .lit_con i {
    display: block;
    width: 100px;
    font-style: normal;
    font-size: 12px;
    color: #bbbbbb;
    margin-top: 10px;
    margin-left: 24px;
    float: left;
}

.media_con .lit_con .delete_co {
    display: block;
    float: right;
    font-style: normal;
    font-size: 12px;
    color: #bbbbbb;
    margin-top: 10px;
    margin-right: 24px;
}

.media_con .lit_con .media {
    width: 100%;
    padding: 10px 24px;
    display: flex;
    justify-content: space-between;
}

.media_con .lit_con .media a {
    display: block;
    width: 200px;
}

.media_con .lit_con .media a img {
    display: block;
    width: 30px;
    height: 30px;
    float: left;
    border-radius: 50%;
}

.media_con .lit_con .media a em {
    display: block;
    float: left;
    font-style: normal;
    font-size: 14px;
    color: #333333;
    line-height: 30px;
    margin-left: 10px;
}

.media_con .lit_con .media a em:hover {
    color: #ffca02;
}

.media_con .lit_con .media span {
    font-style: normal;
    font-size: 12px;
    color: #bbbbbb;
    line-height: 30px;
}

.main_li {
    display: none;
}

.lit_atten {
    width: 256px;
    height: 256px;
    background: #ffffff;
    border-radius: 10px;
    margin-left: 15px;
    margin-top: 15px;
    float: left;
}

.lit_atten a {
    display: block;
}

.lit_atten .a_media {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    margin-top: 40px;
}

.lit_atten .a_media img {
    display: block;
    width: 100%;
    height: 100%;
}

.a_me {
    font-style: normal;
    font-size: 18px;
    color: #333333;
    text-align: center;
    margin-top: 10px;
}

.lit_atten i {
    display: block;
    font-style: normal;
    font-size: 12px;
    color: #bbbbbb;
    text-align: center;
    margin-top: 6px;
}

.lit_atten span {
    display: block;
    width: 80px;
    height: 30px;
    border: 1px solid #ffcc00;
    border-radius: 3px;
    margin: 0 auto;
    margin-top: 15px;
    font-style: normal;
    font-size: 12px;
    color: #ffca02;
    text-align: center;
    line-height: 30px;
}

.mes_li {
    width:100% ;
    height: 260px;
    background: #ffffff;
    margin-left: 20px;
    padding: 80px 80px 50px 80px;
    border-bottom:1px solid #f5f5f5;
}

.mes_li img {
    display: block;
    float: left;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.mes_li .mes {
    float: left;
    width: 1080px;
    margin-left:30px;
}

.mes_li .mes .mes_title {
    width: 100%;
    overflow: hidden;
}

.mes_li .mes .mes_title i {
    display:block;
    font-style: normal;
    font-size: 18px;
    color: #333333;
    float: left;
    font-weight: 600;
}

.mes_li .mes .mes_title span {
    display: block;
    float: left;
    font-style: normal;
    font-size: 12px;
    color: #bbbbbb;
    line-height: 24px;
    margin-left:30px;
}

.mes_li .mes p{
    margin-top:30px;
    font-style: normal;
    font-size: 14px;
    color: #666666;
    line-height: 20px;
}

